.background-img{
background-image: url(../../assests/bgc\ 2.jpg);
box-shadow: inset 0 0 25px 10px black;
background-repeat: no-repeat;
background-size: cover;
padding-top: 800px;

}
.login-form{
    width: 350px;
    padding-left: 50px;
    /* margin-top: 70px; */
    /* padding-top: 60px; */
    padding-left: 170px;
   /* background-color: antiquewhite; */
   width: 40%;
   
   
}
